
{% load static %}
<div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">
                Your Cart
            </span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>
        
        <div class="header-cart-content flex-w js-pscroll">
            <ul class="header-cart-wrapitem w-full">
                {% for product in cartProducts %}
                <li class="header-cart-item d-flex align-items-center justify-content-between m-b-12" id="li-{{product.id}}">
                    <div class="d-flex align-items-center">
                        <div class="header-cart-item-img">
                            <img src="{{product.image}}" alt="IMG" class="img-fluid">
                        </div>
                
                        <div class="header-cart-item-txt p-t-8 ml-3">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04 d-block">
                                {{product.title}}
                            </a>
                
                            <span class="header-cart-item-info d-block">
                                {{product.quntity}}x ${{product.price}}
                            </span>
                        </div>
                    </div>
                
                    <!-- Delete Button -->
                    <button class="btn btn-danger btn-sm d-flex align-items-center delete-cart-button" data-id="{{product.id}}" data-url="{% url 'deleteCart' %}" data-price="{{product.price}}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </li>
                {% endfor %}
                
                
            </ul>
            
            <div class="w-full">
                <div class="header-cart-total w-full p-tb-40" >
                    Total: $ <span id="total-price-list">{{total|floatformat:2}}</span>
                </div>

                <div class="header-cart-buttons flex-w w-full">
                    <a href="{% url 'shopping-cart' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        View Cart
                    </a>

                    <a href="{% url 'invoice' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                        Check Out
                    </a>
                </div>
            </div>
        </div>
    </div>
    

<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %} "></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/animsition/js/animsition.min.js' %} "></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/bootstrap/js/popper.js' %} "></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %} "></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/select2/select2.min.js' %} "></script>
        <script>
            $(".js-select2").each(function(){
                $(this).select2({
                    minimumResultsForSearch: 20,
                    dropdownParent: $(this).next('.dropDownSelect2')
                });
            })
        </script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/daterangepicker/moment.min.js' %} "></script>
        <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %} "></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/slick/slick.min.js' %} "></script>
        <script src="{% static 'js/slick-custom.js' %} "></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/parallax100/parallax100.js' %} "></script>
        <script>
            $('.parallax100').parallax100();
        </script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %} "></script>
        <script>
            $('.gallery-lb').each(function() { // the containers for all your galleries
                $(this).magnificPopup({
                    delegate: 'a', // the selector for gallery item
                    type: 'image',
                    gallery: {
                        enabled:true
                    },
                    mainClass: 'mfp-fade'
                });
            });
        </script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %} "></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/sweetalert/sweetalert.min.js' %} "></script>
        <script>
            $('.js-addwish-b2').on('click', function(e){
                e.preventDefault();
            });
    
            $('.js-addwish-b2').each(function(){
                var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
                $(this).on('click', function(){
                    swal(nameProduct, "is added to wishlist !", "success");
    
                    $(this).addClass('js-addedwish-b2');
                    $(this).off('click');
                });
            });
    
            $('.js-addwish-detail').each(function(){
                var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();
    
                $(this).on('click', function(){
                    swal(nameProduct, "is added to wishlist !", "success");
    
                    $(this).addClass('js-addedwish-detail');
                    $(this).off('click');
                });
            });
    
            /*---------------------------------------------*/
    
            $('.js-addcart-detail').each(function(){
                var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
                $(this).on('click', function(){
                    swal(nameProduct, "is added to cart !", "success");
                });
            });
        
        </script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %} "></script>
        <script>
            $('.js-pscroll').each(function(){
                $(this).css('position','relative');
                $(this).css('overflow','hidden');
                var ps = new PerfectScrollbar(this, {
                    wheelSpeed: 1,
                    scrollingThreshold: 1000,
                    wheelPropagation: false,
                });
    
                $(window).on('resize', function(){
                    ps.update();
                })
            });
        </script>
    <!--===============================================================================================-->
        <script src="{% static 'js/main.js' %} "></script>
        <script src="{% static 'js/addReview.js' %} "></script>
        <script src="{% static 'js/cart.js' %} "></script>
        {% comment %} <script src="{% static 'js/cart.js' %} "></script> {% endcomment %}
        <script>
            document.querySelector(".zmdi-search").addEventListener("click", function() {
                document.querySelector(".plh3").value = "";
            });
            
        </script>
    
    