{% extends "base.html" %}
{% load static %}
{% block content %}

	<aside class="wrap-sidebar js-sidebar">
		<div class="s-full js-hide-sidebar"></div>

		<div class="sidebar flex-col-l p-t-22 p-b-25">
			<div class="flex-r w-full p-b-30 p-r-27">
				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-sidebar">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="sidebar-content flex-w w-full p-lr-65 js-pscroll">
				<ul class="sidebar-link w-full">
					<li class="p-b-13">
						<a href="index.html" class="stext-102 cl2 hov-cl1 trans-04">
							Home
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							My Wishlist
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							My Account
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							Track Oder
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							Refunds
						</a>
					</li>

					<li class="p-b-13">
						<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
							Help & FAQs
						</a>
					</li>
				</ul>

				<div class="sidebar-gallery w-full p-tb-30">
					<span class="mtext-101 cl5">
						@ CozaStore
					</span>

					<div class="flex-w flex-sb p-t-36 gallery-lb">
						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="{% static 'images/gallery-01.jpg' %}" data-lightbox="gallery" 
							style="background-image: url('{% static 'images/gallery-01.jpg' %}');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="{% static 'images/gallery-02.jpg' %}" data-lightbox="gallery" 
							style="background-image: url('{% static 'images/gallery-02.jpg' %}');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="{% static 'images/gallery-03.jpg' %}" data-lightbox="gallery" 
							style="background-image: url('{% static 'images/gallery-03.jpg' %}');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="{% static 'images/gallery-04.jpg' %}" data-lightbox="gallery" 
							style="background-image: url('{% static 'images/gallery-04.jpg' %}');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="{% static 'images/gallery-05.jpg' %}" data-lightbox="gallery" 
							style="background-image: url('{% static 'images/gallery-05.jpg' %}');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="{% static 'images/gallery-06.jpg' %}" data-lightbox="gallery" 
							style="background-image: url('{% static 'images/gallery-06.jpg' %}');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="{% static 'images/gallery-07.jpg' %}" data-lightbox="gallery" 
							style="background-image: url('{% static 'images/gallery-07.jpg' %}');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="{% static 'images/gallery-08.jpg' %}" data-lightbox="gallery" 
							style="background-image: url('{% static 'images/gallery-08.jpg' %}');"></a>
						</div>

						<!-- item gallery sidebar -->
						<div class="wrap-item-gallery m-b-10">
							<a class="item-gallery bg-img1" href="{% static 'images/gallery-09.jpg' %}" data-lightbox="gallery" 
							style="background-image: url('{% static 'images/gallery-09.jpg' %}');"></a>
						</div>
					</div>
				</div>

				<div class="sidebar-gallery w-full">
					<span class="mtext-101 cl5">
						About Us
					</span>

					<p class="stext-108 cl6 p-t-27">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus vulputate hendrerit. Praesent faucibus erat vitae rutrum gravida. Vestibulum tempus mi enim, in molestie sem fermentum quis. 
					</p>
				</div>
			</div>
		</div>
	</aside>


	<!-- Cart -->


	<!-- Blog -->
	<section class="sec-blog bg0 p-t-60 p-b-90">
	
		<div class="container">
			{% comment %} <div class="p-b-66">
				<h3 class="ltext-105 cl5 txt-center respon1">
					Our Blogs
				</h3>
			</div> {% endcomment %}

			<div class="row">
			{% for product in products %}
			<div class="col-sm-6 col-md-4 col-lg-3 isotope-item">
				<!-- Product Card -->
				<div class="card h-100 shadow-sm border-0">
					<!-- Product Image -->
					<div class="block2-pic hov-img0">
						<img src="{{ product.image.url }}" alt="IMG-PRODUCT" style="width: 80%; height: 200px;margin-left:10%">

						<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" 
						hx-get="{% url 'product-detail' product.pk %}"
						hx-target="#product-detail"
						hx-swap="innerHTML">
						Quick View
						</a>

					</div>
					<!-- Product Details -->
					<div class="card-body d-flex flex-column">
						<!-- Category -->
						<p class="text-uppercase text-muted small mb-2">{{ product.category.title }}</p>
						<!-- Product Title -->
						<h5 class="card-title text-truncate">
							<a href="product-detail.html" class="text-decoration-none text-dark">
								{{ product.title }}
							</a>
						</h5>
						<!-- Product Rating -->
						<div class="mb-2" style="display:flex;justify-content:space-between;cursor:pointer">
							<span class="text-warning fs-3">									
								{% if product.rating == 1 %}
										★☆☆☆☆
									{% elif product.rating == 2 %}
										★★☆☆☆
									{% elif product.rating == 3 %}
										★★★☆☆
									{% elif product.rating == 4 %}
										★★★★☆
									{% else %}
										★★★★★
									{% endif %}

							

							</span>
							{% if product.id|stringformat:"s" in wishes %}

							<i class="fa-solid fa-check"></i>
							{% else %}
							<i class="fa-regular fa-heart addToWishButton" data-image="{{product.image.url}}" data-title="{{product.title}}" data-price="{{product.price}}"  data-pid="{{product.id}}" data-quntity="1"  data-url="{% url 'addToWish' %}" id="addToWishlist-{{product.id}}"></i>
							{% endif %}
						</div>
						<!-- Vendor -->
						<p class="text-success small mb-2">by <strong>{{ product.vendor.title }}</strong></p>
						<!-- Price -->
						<div class="mb-3">
							<span class="text-primary fw-bold" style="font-size: 1.2rem;">${{ product.price }}</span>
							{% if product.old_price %}
							<span class="text-muted ms-2 text-decoration-line-through small">${{ product.old_price }}</span>
							{% endif %}
						</div>
						<!-- Wishlist Button --> 
						<div class="mt-auto">
							<a class="btn btn-outline-secondary btn-sm w-100 addToWishilist" data-image="{{product.image.url}}" data-title="{{product.title}}" data-price="{{product.price}}"  data-pid="{{product.id}}" data-quntity="1" data-url="{% url 'addToCart' %}"  id="addToCartButton-{{product.id}}">
								{% if product.id|stringformat:"s" in cartProductIds %}
								Added To Cart
							{% else %}
								<i class="fas fa-shopping-cart me-2"></i> Add to Cart
							{% endif %}
															</a>
						</div>
					</div>
				</div>
			</div>
	{% endfor %}
			</div>
		</div>
	
	</section>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="{% static 'images/icons/icon-close.png' %}" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="{% static 'images/product-detail-01.jpg' %}">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static 'images/product-detail-01.jpg' %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{% static 'images/product-detail-01.jpg' %}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="{% static 'images/product-detail-02.jpg' %}">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static 'images/product-detail-02.jpg' %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{% static 'images/product-detail-02.jpg' %}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="{% static 'images/product-detail-03.jpg' %}">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static 'images/product-detail-03.jpg' %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{% static 'images/product-detail-03.jpg' %}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>
							
							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>	
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="product-detail"  class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		
	</div>
	
{% endblock content %}